body {
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  /* background-color: red; */
  width: 100vw;
}

header {
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  background-color: #f1f3ff;
}
.kiriHeader {
  margin-top: 80px;
  margin-left: 95px;
  font-size: 14px;
  line-height: 20px;
}
.kiriHeader > h1 {
  font-size: 36px;
  line-height: 54px;
}
.kiriHeader > p {
  font-weight: 300;
  margin-right: 30px;
}
.kiriHeader > button {
  color: white;
  background-color: #5cb85f;
  width: 140px;
  height: 36px;
  border: 0;
}
.kanan {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
h2 {
  font-weight: 700;
  font-size: 24px;
}
.cardDiOwl {
  margin-left: 25px;
  margin-bottom: 10px;
  width: 635px;
  height: 275px;
  background-color: #f1f3ff;
  border-radius: 8px;
  font-size: 14px;
  line-height: 20px;
}
#poto {
  width: 80px;
  height: 80px;
}
#poto > img {
  width: 100%;
  height: 100%;
}
#bintang {
  width: 80px;
  height: 16px;
}
.banner {
  background-color: #0d28a6;
  color: white;
  font-size: 14px;
  font-weight: 300;
  margin-top: 60px;
  padding: 40px;
  margin-bottom: 60px;
}
.banner > h1 {
  margin-top: 30px;
  font-size: 36px;
}
.banner > button {
  background-color: #5cb85f;
  color: white;
  border: 0;
  width: 140px;
  height: 36px;
}
.acordion{
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}
.acordion>h2{
  font-size: 24px;
}
.foter{
  margin-top: 150px;
  font-size: 14px;
  font-weight: 300;
}
.foter ul li{
  list-style: none;
}
#servicePoto{
  width: 100%;
}
#staticBackdrop{
  width: 50%;
}

@media screen and (max-width:820px){
  li{
    list-style: none;
  }
  .navbar{
   padding-right: 0 !important;
   padding-left: 0 !important;
}

#whyus{
  text-align: center;
}
#whyus .row .col-lg-3{
  display: flex;
  justify-content: center;
}
#whyus .row .col-lg-3 .card{
  width: 90vw !important}
  .rowBaner {
    padding: 0 25px;
  }
  .acordion {
    padding: 0 25px;
  }
  .foter{
    padding: 0 25px;
  }
  .cardDiOwl {
    margin-left: 0;
  margin-bottom: 10px;
  width: 90vw;
  height: 400px;
  
}
.cardDiOwl .card-body{
  padding: 20px 15px !important;
  margin-bottom: 200px;
  margin-top: 40px;
}
.cardDiOwl .card-body .row{
  display: block;
}
.cardDiOwl .card-body .row .col-2{
  width: 100px;
  margin: 0 auto !important;
}
#bintang{
  margin: 30px auto !important;

}
.cardDiOwl .card-body .row .col{
  margin: 0 auto !important;
  padding-top: 0 !important;  
}
}